telethon/n8n_workflow_example.json
{
  "name": "Telegram Channel Parser - AI Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8010/parse_all_channels",
        "options": {}
      },
      "id": "http-request-parse",
      "name": "Parse All Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8010/users",
        "options": {}
      },
      "id": "http-request-users",
      "name": "Get All Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Получаем всех пользователей\nconst users = $input.all()[0].json.users;\n\n// Для каждого пользователя получаем посты\nconst results = [];\n\nfor (const user of users) {\n  const telegramId = user.telegram_id;\n  \n  // Получаем посты пользователя за последние 24 часа\n  const postsResponse = await $http.get({\n    url: `http://localhost:8010/users/${telegramId}/posts`,\n    qs: {\n      hours_back: 24,\n      limit: 100\n    }\n  });\n  \n  const userPosts = postsResponse.data;\n  \n  if (userPosts.posts && userPosts.posts.length > 0) {\n    results.push({\n      user: user,\n      posts: userPosts.posts\n    });\n  }\n}\n\nreturn results.map(item => ({\n  json: item\n}));"
      },
      "id": "code-process-posts",
      "name": "Process Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "prompt": "Проанализируй следующие посты из Telegram каналов и предоставь краткий анализ:\n\n{{ $json.posts.map(post => `Канал: @${post.channel_username}\\nТекст: ${post.text}\\nПросмотры: ${post.views || 'N/A'}\\nДата: ${post.posted_at}\\n---`).join('\\n\\n') }}\n\nПожалуйста, предоставь:\n1. Общую тональность постов\n2. Основные темы\n3. Популярные посты (по просмотрам)\n4. Рекомендации для анализа",
        "options": {
          "model": "gpt-3.5-turbo",
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "openai-analysis",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "channel": "general",
        "text": "🤖 **Анализ Telegram каналов**\n\n**Пользователь:** {{ $json.user.first_name }} (@{{ $json.user.username }})\n**Каналов:** {{ $json.posts.length }}\n\n**AI Анализ:**\n{{ $json.ai_analysis }}\n\n---\n*Анализ выполнен автоматически*",
        "otherOptions": {
          "parseUrls": true
        }
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.total_posts_added }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-posts-added",
      "name": "If Posts Added",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "channel": "general",
        "text": "📊 **Парсинг завершен**\n\n**Новых постов:** {{ $json.total_posts_added }}\n**Каналов обработано:** {{ $json.total_channels }}\n\n**Результаты по каналам:**\n{{ $json.results.map(result => `• @${result.channel}: ${result.posts_added} постов (${result.status})`).join('\\n') }}",
        "otherOptions": {
          "parseUrls": true
        }
      },
      "id": "slack-parsing-result",
      "name": "Parsing Results",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Parse All Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse All Channels": {
      "main": [
        [
          {
            "node": "If Posts Added",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Users": {
      "main": [
        [
          {
            "node": "Process Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Posts": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Posts Added": {
      "main": [
        [
          {
            "node": "Parsing Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "telegram-parser",
      "name": "Telegram Parser"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
} 