n8n/workflows/agent_key_moments.json
{
  "name": "Agent: Key Moments Extractor",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare HTTP Request data for key moments extraction\nconst items = $input.all();\nconst data = items[0].json;\n\n// Get original messages from execution context\nconst executionData = $execution.customData.getAll();\nconst originalMessages = executionData.original_messages || data.messages || [];\nconst originalMessagesText = executionData.original_messages_text || data.messages_text || \"\";\n\nconst assessment = data.assessment || {};\nconst topics = data.topics || [];\nconst emotions = data.emotions || {};\nconst speakers = data.speakers || {};\nconst messagesText = originalMessagesText;\nconst messages = originalMessages;\nconst detailLevel = assessment.detail_level || \"standard\";\n\n// Build system message\nconst systemMessage = \"Ты - аналитик ключевых моментов в диалогах. Извлекаешь решения, вопросы, проблемы, договоренности, риски с эмоциональным контекстом. Возвращай ТОЛЬКО валидный JSON: {\\\"key_moments\\\": [...]}. ЗАПРЕЩЕНО: markdown, комментарии, придумывание данных.\";\n\n// === BUILD USER MESSAGE ===\n\nconst userMessage = `Извлеки ключевые моменты из диалога.\\n\\nТИП ДИАЛОГА: ${assessment.dialogue_type}\\nУРОВЕНЬ: ${detailLevel}\\n\\n=== КОНТЕКСТ ===\\n\\nТЕМЫ:\\n${topics.map(t => `- ${t.name} (приоритет: ${t.priority || 'medium'})`).join('\\n')}\\n\\nУЧАСТНИКИ:\\n${Object.keys(speakers).map(s => `- @${s}: ${speakers[s].role || 'участник'}`).join('\\n')}\\n\\nЭМОЦИОНАЛЬНЫЙ ФОН:\\n- Общий тон: ${emotions.overall_tone || emotions.tone || 'neutral'}\\n- Атмосфера: ${emotions.atmosphere || 'обычная'}\\n\\nСООБЩЕНИЯ:\\n${messagesText}\\n\\n=== ЗАДАЧА ===\\n\\nНайди и классифицируй ключевые моменты:\\n\\n1. ✅ РЕШЕНИЯ - что было решено\\n2. ❓ ВОПРОСЫ - открытые вопросы, требующие ответа\\n3. ⚠️ ПРОБЛЕМЫ - выявленные проблемы и риски\\n4. 🤝 ДОГОВОРЕННОСТИ - согласованные действия/сроки\\n5. 🔴 РИСКИ/ОПАСЕНИЯ - высказанные concerns\\n\\nДля КАЖДОГО момента укажи:\\n- type: decision | question | problem | agreement | risk\\n- content: краткое описание (1 предложение)\\n- context: почему это возникло\\n- participants: список участников ([@username])\\n- why: причина/обоснование\\n- consequences: последствия или необходимые действия\\n- urgency: low | medium | high\\n- emotional_context: эмоциональный контекст момента\\n- participant_emotions: эмоции участников {\"@user\": \"emotion\"}\\n\\nФОРМАТ:\\n{\\n  \"key_moments\": [\\n    {\\n      \"type\": \"decision\",\\n      \"content\": \"Отложить релиз до исправления\",\\n      \"context\": \"Обнаружен критический баг\",\\n      \"participants\": [\"@Оксана\", \"@Иван\"],\\n      \"why\": \"Баг блокирует production\",\\n      \"consequences\": \"Релиз переносится на неделю\",\\n      \"urgency\": \"high\",\\n      \"emotional_context\": \"Concern, but constructive approach\",\\n      \"participant_emotions\": {\"@Оксана\": \"worried_but_professional\"}\\n    }\\n  ]\\n}\\n\\nВАЖНО:\\n- Верни ТОЛЬКО валидный JSON без markdown блоков\\n- Извлекай только РЕАЛЬНО важные моменты (3-10 штук)\\n- Если нет ключевых моментов, верни пустой массив`;\n\n// Calculate max_tokens safely\nconst maxTokens = (assessment.token_budgets && assessment.token_budgets.key_moments) ? assessment.token_budgets.key_moments : 800;\n\nreturn [\n  {\n    json: {\n      system_message: systemMessage,\n      user_message: userMessage,\n      max_tokens: maxTokens,\n      detail_level: detailLevel,\n      message_count: messages.length\n    }\n  }\n];"
      },
      "id": "prepare-key-moments-prompt",
      "name": "Prepare Key Moments Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://gpt2giga-proxy:8000/v1/chat/completions",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ {\"model\": \"GigaChat-Pro\", \"messages\": [{\"role\": \"system\", \"content\": $json.system_message}, {\"role\": \"user\", \"content\": $json.user_message}], \"temperature\": 0.1, \"max_tokens\": $json.max_tokens, \"response_format\": {\"type\": \"json_object\"}} }}",
        "options": {}
      },
      "id": "gigachat-key-moments",
      "name": "GigaChat: Extract Key Moments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse GigaChat response from gpt2giga proxy\nconst response = $input.first().json.choices?.[0]?.message?.content || '{}';\n\nconsole.log('📥 GigaChat response received:', response.substring(0, 100));\n\nreturn [\n  {\n    json: {\n      raw_content: response\n    }\n  }\n];"
      },
      "id": "parse-key-moments-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "workflowId": "utility_json_guardrail",
        "source": "database",
        "inputData": {
          "values": [
            {
              "json": {
                "raw_content": "={{ $json.response || choices[0].message.content }}",
                "data_type": "key_moments",
                "original_messages": "={{ $execution.customData.getAll().original_messages }}"
              }
            }
          ]
        }
      },
      "id": "execute-guardrail",
      "name": "Execute Guardrail",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Key Moments Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Key Moments Prompt": {
      "main": [
        [
          {
            "node": "GigaChat: Extract Key Moments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GigaChat: Extract Key Moments": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Execute Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-14T19:10:00.000Z",
  "versionId": "1"
}