.backups/historical/20251018_000430_full_system/n8n/workflows/agent_speaker_analyzer.json
{
  "name": "Agent: Speaker Analyzer",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare HTTP Request data for speaker analysis\nconst items = $input.all();\nconst data = items[0].json;\n\n// Get original messages from execution context\nconst executionData = $execution.customData.getAll();\nconst originalMessages = executionData.original_messages || data.messages || [];\nconst originalMessagesText = executionData.original_messages_text || data.messages_text || \"\";\n\nconst messagesText = originalMessagesText;\nconst assessment = data.assessment || {};\nconst topics = data.topics || [];\nconst emotions = data.emotions || {};\nconst detailLevel = assessment.detail_level || \"standard\";\n\n// Build system message\nconst systemMessage = \"Ты - аналитик участников диалогов. Анализируй ТОЛЬКО тех участников, которые есть в сообщениях. ЗАПРЕЩЕНО придумывать имена. Используй ТОЧНЫЕ username из сообщений. Возвращай ТОЛЬКО валидный JSON: {\\\"speakers\\\": {\\\"username1\\\": {\\\"role\\\": \\\"...\\\", \\\"activity\\\": \\\"...\\\"}, ...}}\";\n\n// Build user message\nlet userMessage = \"\";\n\nif (detailLevel === \"micro\" || detailLevel === \"minimal\") {\n  userMessage = `Проанализируй кто о чем говорил.\\n\\nСООБЩЕНИЯ:\\n${messagesText}\\n\\nСоздай краткое резюме по каждому активному участнику (топ-3).\\n\\nКРИТИЧЕСКИ ВАЖНО - USERNAMES:\\n- messages содержат ТОЧНЫЕ usernames как они есть: ${originalMessages.map(m => m.username).join(', ')}\\n- ЗАПРЕЩЕНО использовать user1, user2, User1, участник1 или любые обобщения\\n- Пример ПРАВИЛЬНО: \"KseniaKrasnobaeva обсуждала проблему\"\\n- Пример НЕПРАВИЛЬНО: \"user1 обсуждал проблему\" ❌\\n- Если видишь user1/user2 - ищи реальные имена в messages\\n\\nФОРМАТ:\\n{\"speakers\": {\"username\": \"что обсуждал\"}}\\n\\nВерни ТОЛЬКО валидный JSON!`;\n  \n} else {\n  const topicsText = topics.map(t => `- ${t.name} (${t.priority})`).join('\\\\n');\n  const collabText = emotions.indicators ? `- Сотрудничество: ${emotions.indicators.collaboration || 0.5}\\\\n- Конфликт: ${emotions.indicators.conflict || 0.1}` : '';\n  const emotionalToneField = (detailLevel === 'detailed' || detailLevel === 'comprehensive') ? ',\\\\n      \"emotional_tone\": \"constructive\"' : '';\n  \n  userMessage = `Проанализируй участников диалога с учетом тем и эмоционального контекста.\\n\\nУРОВЕНЬ: ${detailLevel}\\n\\n=== КОНТЕКСТ ===\\n\\nТЕМЫ ОБСУЖДЕНИЯ:\\n${topicsText}\\n\\nЭМОЦИОНАЛЬНЫЙ ФОН:\\n- Общий тон: ${emotions.overall_tone || 'neutral'}\\n- Атмосфера: ${emotions.atmosphere || 'обычная'}\\n${collabText}\\n\\nСООБЩЕНИЯ:\\n${messagesText}\\n\\n=== ЗАДАЧА ===\\n\\nДля каждого активного участника (топ-5) определи:\\n1. Роль в дискуссии: initiator | expert | critic | supporter | observer\\n2. Основные темы которые обсуждал\\n3. Позиция/мнение по темам (если выражал)\\n4. Ключевые вклады в обсуждение\\n${detailLevel === 'detailed' || detailLevel === 'comprehensive' ? '5. Эмоциональный окрас участия' : ''}\\n\\nКРИТИЧЕСКИ ВАЖНО - USERNAMES:\\n- messages содержат ТОЧНЫЕ usernames как они есть: ${originalMessages.map(m => m.username).join(', ')}\\n- ЗАПРЕЩЕНО использовать user1, user2, User1, участник1 или любые обобщения\\n- Пример ПРАВИЛЬНО: \"KseniaKrasnobaeva обсуждала проблему\"\\n- Пример НЕПРАВИЛЬНО: \"user1 обсуждал проблему\" ❌\\n- Если видишь user1/user2 - ищи реальные имена в messages\\n\\nФОРМАТ:\\n{\\n  \"speakers\": {\\n    \"username\": {\\n      \"role\": \"initiator\",\\n      \"main_topics\": [темы из СПИСКА ТЕМА ОБСУЖДЕНИЯ выше],\\n      \"contributions\": \"Краткое описание вклада\"${emotionalToneField}\\n    }\\n  }\\n}\\n\\nВАЖНО: Верни ТОЛЬКО валидный JSON!`;\n}\n\n// Calculate max_tokens safely\nconst maxTokens = (assessment.token_budgets && assessment.token_budgets.speakers) ? assessment.token_budgets.speakers : 500;\n\nreturn [\n  {\n    json: {\n      system_message: systemMessage,\n      user_message: userMessage,\n      max_tokens: maxTokens,\n      detail_level: detailLevel\n    }\n  }\n];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Speaker Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpt2giga-proxy:8090/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"GigaChat-Pro\", \"messages\": [{\"role\": \"system\", \"content\": $json.system_message}, {\"role\": \"user\", \"content\": $json.user_message}], \"temperature\": 0.1, \"max_tokens\": $json.max_tokens, \"response_format\": {\"type\": \"json_object\"}} }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "gigachat-call",
      "name": "GigaChat: Analyze Speakers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse GigaChat response from gpt2giga proxy\nconst response = $input.first().json.choices?.[0]?.message?.content || '{}';\n\nconsole.log('📥 GigaChat response received:', response.substring(0, 100));\n\nreturn [\n  {\n    json: {\n      raw_content: response\n    }\n  }\n];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "utility_json_guardrail",
        "source": "database",
        "inputData": {
          "values": [
            {
              "json": {
                "raw_content": "={{ $json.raw_content }}",
                "data_type": "speakers",
                "original_messages": "={{ $execution.customData.getAll().original_messages }}"
              }
            }
          ]
        }
      },
      "id": "execute-guardrail",
      "name": "Execute Guardrail",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Speaker Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Speaker Prompt": {
      "main": [
        [
          {
            "node": "GigaChat: Analyze Speakers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GigaChat: Analyze Speakers": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Execute Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-14T21:00:00.000Z",
  "versionId": "1"
}